/* Global application themes styles */

/* Bootstrap 4.0.0 with 24 columns */
@import 'bootstrap_24_columns/bootstrap.css';

/* Bootstrap adjustments */
@import 'bootstrap/*';

/* Another application styles.... */
